<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CALCULATOR</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <div class="container"> 
        <h1>Simple calculator</h1>
        <form method="POST">
            <input type="number" step="any" name="num1" placeholder="First number" required>
            <select name="operation">
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="*">*</option>
                <option value="/">/</option>

            </select>
            <input type="number" step="any" name="num2" placeholder="second number" required>

            <button type="submit">Calculate</button>


        </form>

        <h2>Result: {{ result }}</h2>

    </div>
    
</body>
</html>